@model PizzaSteve.Models.Product

<div class="container">
	<h2>Edit Product</h2>

	<form asp-action="Edit">
		<input type="hidden" asp-for="Id" />
        <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" class="form-control" asp-for="Name" />
</div>
<div class="form-group">
    <label for="price">price:</label>
    <input type="text" class="form-control" asp-for="Price" />
</div>

<div class="form-group">
    <label for="Description">Description:</label>
    <input type="text" class="form-control" asp-for="Description" />
</div>

<div class="form-group">
    <label for="image">Image URL:</label>
    <input type="text" class="form-control" asp-for="Image" />
</div>
<div class="form-group">
    <label for="CategoryId">Category:</label>
    <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))">
        <option value="">Select a category</option>
    </select>
</div>
<div class="form-group">
    <label for="InventoryId">Inventory:</label>
    <select class="form-control" asp-for="InventoryId" asp-items="@(new SelectList(ViewBag.Inventories, "Id", "Name"))">
        <option value="">Select a Inventory</option>
    </select>
</div>


		<button type="submit" class="btn btn-primary">Save Changes</button>
		<a asp-action="Index" class="btn btn-secondary">Back to List</a>
	</form>
</div>
